@use 'sass:math';

@function rem($pixel) {
    @if math.is-unitless($pixel) {
        @return math.div($pixel, 16) + rem;
    } @else {
        @error 'Не используйте единицы измерения при работе с функцией rem()! Передавайте аргументом только числа.';
    }
}

@function fluid($max: 48, $min: 16) {
    $maxViewportWidth: 1920;
    $minViewportWidth: 390;

    // Перевод в ремы. 1рем = 16пкс => x пикселей = x / 16 ремов
    $maxSize: math.div($max, 16);
    $minSize: math.div($min, 16);
    $maxWidth: math.div($maxViewportWidth, 16);
    $minWidth: math.div($minViewportWidth, 16);

    $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
    $yAxisIntersection: -$minWidth * $slope + $minSize;

    @return clamp(
        #{$minSize * 1rem},
        #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
        #{$maxSize * 1rem}
    );
}